/*REGOLE GENERALI*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*REGOLE HEADER*/

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

ul{
    list-style-type: none;
    margin-top: 10px;
    margin-right: 20px;
}

li{
    background-color: rgb(66, 66, 66);
    padding: 5px;
    display: inline-block;
    color: white;
    border-radius: 5px;
}

h5{
    color: white;
    display: inline-block;
    text-align: center;
}

.top{
    width: 12px;
    height: auto;
    align-self: center;
}

.content{
    display: flex;
}

/*REGOLE MAIN*/

main{
    background-color: black;
    display: flex;
}

.container{
    width: 100vw;
    padding: 50px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


.col-14{
    width: calc(100% / 7 - 13px);
    margin: 10px 3px;
    position: relative;
}

.label{
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: gray;
}


/*REGOLE FOOTER*/

footer{
    background-color: rgb(66, 66, 66);
        display: flex;
}

.containerfoot{
    width: 100%;
}

.col-20{
    width: calc(20% - 20px);
    margin: 10px;
}

.col-60{
    width: calc(60% - 20px);
    margin: 10px;
}

h4{
    color: white;
    display: inline-block;
    margin: 5px 25px 10px 10px;
    font-size: smaller;
}


p{
    color: red;
    align-self: center;
    padding: 30px;
    background-color: gray;
}

.botton{
    width: 35px;
    height: auto;
    margin: 10px;
}

.mini{
    width: 12px;
    height: auto;
    margin: 10px;
}

.grid{
    margin: 5px;
    width: 45px
}

.flex-start{
    justify-content: flex-start;
}

.flex-center{
    justify-content: center;
}

.flex-end{
    justify-content: flex-end;
}

.al-end{
    align-items: flex-end;
}

.m-r{
    margin-right: 50px;
    margin-left: 15px;
}

.m-t-l{
    margin-left: 50px;
    margin-right: 50px;
}

.m-t-zero{
    margin-right: 0px;
}

.m-t-right{
    margin-right: 27px;
}

.m-t-left{
    margin-left: 55px;
}

.m-t-break{
    margin-left: 22px;
    margin-right: 5px;
}

/*ID*/
