/*REGOLE GENERALI*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*REGOLE HEADER*/

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

ul{
    list-style-type: none;
    margin-top: 10px;
    margin-right: 20px;
}

li{
    background-color: rgb(66, 66, 66);
    padding: 5px;
    display: inline-block;
    color: white;
}

/*REGOLE MAIN*/

main{
    background-color: black;
}

.container{
    width: 100vw;
    padding: 50px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-14{
    width: calc(100% / 7 - 13px);
    margin: 10px 3px;
    height: 150px;
    background-color: yellow;
}

/*REGOLE FOOTER*/

footer{
    background-color: rgb(66, 66, 66);
}

.containerfoot{
    width: 100%;
}

.col-33{
    width: calc(100% / 3 - 20px);
    height: 50px;
    background-color: aqua;
    margin: 10px;
}

/*ID*/